USE [master]
GO
/****** Object:  Database [BDVitalink]    Script Date: 05/12/2025 20:54:59 ******/
CREATE DATABASE [BDVitalink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDVitalink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS03\MSSQL\DATA\BDVitalink.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDVitalink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS03\MSSQL\DATA\BDVitalink_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDVitalink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDVitalink]
GO
/****** Object:  Table [dbo].[Alergias]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alergias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Reaccion] [varchar](50) NOT NULL,
	[Severidad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Alergias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlergiasXUsuario]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlergiasXUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdAlergia] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Motivo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AlergiasXUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archivos]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Capacidad] [varchar](50) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
 CONSTRAINT [PK_Archivos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnosticos]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosticos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPatologia] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[NombrePatologia] [varchar](50) NULL,
 CONSTRAINT [PK_Diagnosticos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Altura] [int] NOT NULL,
	[CallesParalelas] [varchar](50) NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos_Clinicos]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos_Clinicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEncuentro] [int] NOT NULL,
	[Id_TipoDocumento] [int] NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdArchivo] [int] NOT NULL,
	[NombreArchivo] [varchar](50) NOT NULL,
	[TipoArchivo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Documentos_Clinicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encuentros]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encuentros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdOrganizacion] [int] NOT NULL,
	[NombreMedico] [varchar](50) NOT NULL,
	[ApellidoMedico] [varchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[EstadoMotivo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Encuentros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagenes_Estudios]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagenes_Estudios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEncuentro] [int] NOT NULL,
	[Id_Modalidad] [int] NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Informe_Texto] [varchar](100) NOT NULL,
	[IdArchivo] [int] NULL,
 CONSTRAINT [PK_Imagenes_Estudios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicacionesPaciente]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicacionesPaciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReceta] [int] NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre_Comercial] [varchar](50) NOT NULL,
	[Dosis] [varchar](50) NOT NULL,
	[Via] [varchar](50) NOT NULL,
	[Frecuencia] [varchar](50) NOT NULL,
	[Indicacion] [varchar](50) NULL,
	[HoraProgramada] [date] NULL,
	[FechaFabricacion] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_MedicacionesPaciente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidad]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_ImagenEstudio] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Modalidad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizaciones]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Id_Tipo_Organizacion] [int] NOT NULL,
	[IdDireccion] [int] NOT NULL,
 CONSTRAINT [PK_Organizaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patologias]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patologias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Patologias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedico] [varchar](50) NOT NULL,
	[ApellidoMedico] [varchar](50) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[FechaCaducacion] [date] NOT NULL,
	[Observaciones] [varchar](50) NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Documento]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Documento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Documento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Organizacion]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Organizacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoOrganizacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Organizacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacionCuenta] [date] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Doc_nro] [varchar](50) NOT NULL,
	[FechaNacimiento] [varchar](50) NOT NULL,
	[Sexo] [varchar](1) NOT NULL,
	[PesoEnKg] [decimal](18, 2) NOT NULL,
	[AlturaEnCm] [decimal](18, 2) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacunas]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacunas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreVacuna] [varchar](50) NOT NULL,
	[Dosis] [varchar](50) NOT NULL,
	[Aplicacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vacunas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacunasXPaciente]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacunasXPaciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdVacuna] [int] NOT NULL,
	[FechaAplicacion] [date] NOT NULL,
 CONSTRAINT [PK_VacunasXPaciente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Archivos] ON 

INSERT [dbo].[Archivos] ([Id], [Capacidad], [FechaCreacion]) VALUES (7, N'500.59 KB', CAST(N'2025-12-05' AS Date))
SET IDENTITY_INSERT [dbo].[Archivos] OFF
GO
SET IDENTITY_INSERT [dbo].[Diagnosticos] ON 

INSERT [dbo].[Diagnosticos] ([Id], [IdUsuario], [IdPatologia], [Descripcion], [FechaInicio], [FechaFin], [Estado], [NombrePatologia]) VALUES (1, 9, 1, N'me dolia el ojo', CAST(N'2025-12-05' AS Date), CAST(N'2025-12-05' AS Date), 1, N'conjuntivitis')
INSERT [dbo].[Diagnosticos] ([Id], [IdUsuario], [IdPatologia], [Descripcion], [FechaInicio], [FechaFin], [Estado], [NombrePatologia]) VALUES (2, 9, 2, N'asdf', CAST(N'2025-12-05' AS Date), CAST(N'2025-12-05' AS Date), 1, N'asdf')
SET IDENTITY_INSERT [dbo].[Diagnosticos] OFF
GO
SET IDENTITY_INSERT [dbo].[Direcciones] ON 

INSERT [dbo].[Direcciones] ([Id], [Calle], [Altura], [CallesParalelas]) VALUES (13, N'Av Cordoba', 1560, NULL)
INSERT [dbo].[Direcciones] ([Id], [Calle], [Altura], [CallesParalelas]) VALUES (14, N'Av Cordoba', 1560, NULL)
INSERT [dbo].[Direcciones] ([Id], [Calle], [Altura], [CallesParalelas]) VALUES (15, N'Sin dirección', 0, NULL)
SET IDENTITY_INSERT [dbo].[Direcciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Documentos_Clinicos] ON 

INSERT [dbo].[Documentos_Clinicos] ([Id], [IdEncuentro], [Id_TipoDocumento], [Titulo], [Fecha], [IdArchivo], [NombreArchivo], [TipoArchivo]) VALUES (10, 24, 10, N'asdf', CAST(N'2025-12-05' AS Date), 7, N'VITALINK.png', N'image/png')
SET IDENTITY_INSERT [dbo].[Documentos_Clinicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Encuentros] ON 

INSERT [dbo].[Encuentros] ([Id], [IdUsuario], [IdOrganizacion], [NombreMedico], [ApellidoMedico], [FechaInicio], [FechaFin], [EstadoMotivo]) VALUES (19, 9, 26, N'Illia', N'Maria Guido', CAST(N'2025-12-06' AS Date), NULL, N'asdf')
INSERT [dbo].[Encuentros] ([Id], [IdUsuario], [IdOrganizacion], [NombreMedico], [ApellidoMedico], [FechaInicio], [FechaFin], [EstadoMotivo]) VALUES (24, 9, 32, N'Carga', N'Manual', CAST(N'2025-12-05' AS Date), CAST(N'2025-12-05' AS Date), N'Registro manual de estudio')
INSERT [dbo].[Encuentros] ([Id], [IdUsuario], [IdOrganizacion], [NombreMedico], [ApellidoMedico], [FechaInicio], [FechaFin], [EstadoMotivo]) VALUES (25, 9, 34, N'ASD', N'sad', CAST(N'2025-12-25' AS Date), NULL, N'asdf')
SET IDENTITY_INSERT [dbo].[Encuentros] OFF
GO
SET IDENTITY_INSERT [dbo].[Imagenes_Estudios] ON 

INSERT [dbo].[Imagenes_Estudios] ([Id], [IdEncuentro], [Id_Modalidad], [Region], [Fecha], [Informe_Texto], [IdArchivo]) VALUES (10, 24, 22, N'asdf', CAST(N'2025-12-05' AS Date), N'asdf', 7)
SET IDENTITY_INSERT [dbo].[Imagenes_Estudios] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicacionesPaciente] ON 

INSERT [dbo].[MedicacionesPaciente] ([Id], [IdReceta], [IdUsuario], [Nombre_Comercial], [Dosis], [Via], [Frecuencia], [Indicacion], [HoraProgramada], [FechaFabricacion], [FechaVencimiento], [Estado], [Cantidad]) VALUES (7, NULL, 9, N'Ibupirac', N'1', N'oral', N'10hrs', N'tomar con agua ', CAST(N'2025-12-04' AS Date), CAST(N'2025-12-04' AS Date), CAST(N'2029-06-04' AS Date), 1, 0)
INSERT [dbo].[MedicacionesPaciente] ([Id], [IdReceta], [IdUsuario], [Nombre_Comercial], [Dosis], [Via], [Frecuencia], [Indicacion], [HoraProgramada], [FechaFabricacion], [FechaVencimiento], [Estado], [Cantidad]) VALUES (8, NULL, 9, N'asdf', N'afd', N'asfd', N'asdf', N'asdf', CAST(N'2025-12-05' AS Date), CAST(N'2025-12-05' AS Date), CAST(N'2026-01-02' AS Date), 1, 10)
SET IDENTITY_INSERT [dbo].[MedicacionesPaciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Modalidad] ON 

INSERT [dbo].[Modalidad] ([Id], [Tipo_ImagenEstudio]) VALUES (1, N'Radiografía')
INSERT [dbo].[Modalidad] ([Id], [Tipo_ImagenEstudio]) VALUES (2, N'Radiografía digital')
INSERT [dbo].[Modalidad] ([Id], [Tipo_ImagenEstudio]) VALUES (3, N'Radiografía computarizada')
SET IDENTITY_INSERT [dbo].[Modalidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizaciones] ON 

INSERT [dbo].[Organizaciones] ([Id], [Nombre], [Id_Tipo_Organizacion], [IdDireccion]) VALUES (14, N'Dentista', 94, 13)
INSERT [dbo].[Organizaciones] ([Id], [Nombre], [Id_Tipo_Organizacion], [IdDireccion]) VALUES (26, N'asdf', 87, 14)
INSERT [dbo].[Organizaciones] ([Id], [Nombre], [Id_Tipo_Organizacion], [IdDireccion]) VALUES (27, N'Hospital', 66, 13)
SET IDENTITY_INSERT [dbo].[Organizaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Patologias] ON 

INSERT [dbo].[Patologias] ([Id], [Nombre], [Descripcion]) VALUES (1, N'conjuntivitis', N'me dolia el ojo')
INSERT [dbo].[Patologias] ([Id], [Nombre], [Descripcion]) VALUES (2, N'asdf', N'asdf')
SET IDENTITY_INSERT [dbo].[Patologias] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Documento] ON 

INSERT [dbo].[Tipo_Documento] ([Id], [Tipo]) VALUES (10, N'Estudio')
SET IDENTITY_INSERT [dbo].[Tipo_Documento] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Organizacion] ON 

INSERT [dbo].[Tipo_Organizacion] ([Id], [TipoOrganizacion]) VALUES (66, N'Hospital Público')
INSERT [dbo].[Tipo_Organizacion] ([Id], [TipoOrganizacion]) VALUES (67, N'Hospital Privado')
INSERT [dbo].[Tipo_Organizacion] ([Id], [TipoOrganizacion]) VALUES (68, N'Clínica Médica')
SET IDENTITY_INSERT [dbo].[Tipo_Organizacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Estado], [FechaCreacionCuenta], [Nombre], [Apellido], [Doc_nro], [FechaNacimiento], [Sexo], [PesoEnKg], [AlturaEnCm], [Telefono], [Email], [Contraseña]) VALUES (9, 0, CAST(N'2025-12-04' AS Date), N'Juan', N'Perez', N'23451353', N'Jun 18 1992 12:00AM', N'M', CAST(71.00 AS Decimal(18, 2)), CAST(182.00 AS Decimal(18, 2)), 1150210292, N'juan.perez@example.com', N'1234')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacunas] ON 

INSERT [dbo].[Vacunas] ([Id], [NombreVacuna], [Dosis], [Aplicacion]) VALUES (1, N'Vacuna COVID', N'3', N'sda')
INSERT [dbo].[Vacunas] ([Id], [NombreVacuna], [Dosis], [Aplicacion]) VALUES (2, N'Vacuna Algo', N'3', N'asdf')
SET IDENTITY_INSERT [dbo].[Vacunas] OFF
GO
SET IDENTITY_INSERT [dbo].[VacunasXPaciente] ON 

INSERT [dbo].[VacunasXPaciente] ([Id], [IdUsuario], [IdVacuna], [FechaAplicacion]) VALUES (1, 9, 1, CAST(N'2025-12-05' AS Date))
INSERT [dbo].[VacunasXPaciente] ([Id], [IdUsuario], [IdVacuna], [FechaAplicacion]) VALUES (2, 9, 2, CAST(N'2025-12-05' AS Date))
SET IDENTITY_INSERT [dbo].[VacunasXPaciente] OFF
GO
ALTER TABLE [dbo].[AlergiasXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_AlergiasXUsuario_Alergias] FOREIGN KEY([IdAlergia])
REFERENCES [dbo].[Alergias] ([Id])
GO
ALTER TABLE [dbo].[AlergiasXUsuario] CHECK CONSTRAINT [FK_AlergiasXUsuario_Alergias]
GO
ALTER TABLE [dbo].[AlergiasXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_AlergiasXUsuario_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[AlergiasXUsuario] CHECK CONSTRAINT [FK_AlergiasXUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Diagnosticos]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosticos_Patologias] FOREIGN KEY([IdPatologia])
REFERENCES [dbo].[Patologias] ([Id])
GO
ALTER TABLE [dbo].[Diagnosticos] CHECK CONSTRAINT [FK_Diagnosticos_Patologias]
GO
ALTER TABLE [dbo].[Diagnosticos]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosticos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Diagnosticos] CHECK CONSTRAINT [FK_Diagnosticos_Usuarios]
GO
ALTER TABLE [dbo].[Documentos_Clinicos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Clinicos_Archivos] FOREIGN KEY([IdArchivo])
REFERENCES [dbo].[Archivos] ([Id])
GO
ALTER TABLE [dbo].[Documentos_Clinicos] CHECK CONSTRAINT [FK_Documentos_Clinicos_Archivos]
GO
ALTER TABLE [dbo].[Documentos_Clinicos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Clinicos_Encuentros] FOREIGN KEY([IdEncuentro])
REFERENCES [dbo].[Encuentros] ([Id])
GO
ALTER TABLE [dbo].[Documentos_Clinicos] CHECK CONSTRAINT [FK_Documentos_Clinicos_Encuentros]
GO
ALTER TABLE [dbo].[Documentos_Clinicos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Clinicos_Tipo_Documento] FOREIGN KEY([Id_TipoDocumento])
REFERENCES [dbo].[Tipo_Documento] ([Id])
GO
ALTER TABLE [dbo].[Documentos_Clinicos] CHECK CONSTRAINT [FK_Documentos_Clinicos_Tipo_Documento]
GO
ALTER TABLE [dbo].[Encuentros]  WITH CHECK ADD  CONSTRAINT [FK_Encuentros_Organizaciones] FOREIGN KEY([IdOrganizacion])
REFERENCES [dbo].[Organizaciones] ([Id])
GO
ALTER TABLE [dbo].[Encuentros] CHECK CONSTRAINT [FK_Encuentros_Organizaciones]
GO
ALTER TABLE [dbo].[Encuentros]  WITH CHECK ADD  CONSTRAINT [FK_Encuentros_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Encuentros] CHECK CONSTRAINT [FK_Encuentros_Usuarios]
GO
ALTER TABLE [dbo].[Imagenes_Estudios]  WITH CHECK ADD  CONSTRAINT [FK_Imagenes_Estudios_Archivos] FOREIGN KEY([IdArchivo])
REFERENCES [dbo].[Archivos] ([Id])
GO
ALTER TABLE [dbo].[Imagenes_Estudios] CHECK CONSTRAINT [FK_Imagenes_Estudios_Archivos]
GO
ALTER TABLE [dbo].[Imagenes_Estudios]  WITH CHECK ADD  CONSTRAINT [FK_Imagenes_Estudios_Encuentros] FOREIGN KEY([IdEncuentro])
REFERENCES [dbo].[Encuentros] ([Id])
GO
ALTER TABLE [dbo].[Imagenes_Estudios] CHECK CONSTRAINT [FK_Imagenes_Estudios_Encuentros]
GO
ALTER TABLE [dbo].[Imagenes_Estudios]  WITH CHECK ADD  CONSTRAINT [FK_Imagenes_Estudios_Modalidad] FOREIGN KEY([Id_Modalidad])
REFERENCES [dbo].[Modalidad] ([Id])
GO
ALTER TABLE [dbo].[Imagenes_Estudios] CHECK CONSTRAINT [FK_Imagenes_Estudios_Modalidad]
GO
ALTER TABLE [dbo].[MedicacionesPaciente]  WITH CHECK ADD  CONSTRAINT [FK_MedicacionesPaciente_Recetas] FOREIGN KEY([IdReceta])
REFERENCES [dbo].[Recetas] ([Id])
GO
ALTER TABLE [dbo].[MedicacionesPaciente] CHECK CONSTRAINT [FK_MedicacionesPaciente_Recetas]
GO
ALTER TABLE [dbo].[MedicacionesPaciente]  WITH CHECK ADD  CONSTRAINT [FK_MedicacionesPaciente_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[MedicacionesPaciente] CHECK CONSTRAINT [FK_MedicacionesPaciente_Usuarios]
GO
ALTER TABLE [dbo].[Organizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Organizaciones_Direcciones] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direcciones] ([Id])
GO
ALTER TABLE [dbo].[Organizaciones] CHECK CONSTRAINT [FK_Organizaciones_Direcciones]
GO
ALTER TABLE [dbo].[Organizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Organizaciones_Tipo_Organizacion] FOREIGN KEY([Id_Tipo_Organizacion])
REFERENCES [dbo].[Tipo_Organizacion] ([Id])
GO
ALTER TABLE [dbo].[Organizaciones] CHECK CONSTRAINT [FK_Organizaciones_Tipo_Organizacion]
GO
ALTER TABLE [dbo].[VacunasXPaciente]  WITH CHECK ADD  CONSTRAINT [FK_VacunasXPaciente_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[VacunasXPaciente] CHECK CONSTRAINT [FK_VacunasXPaciente_Usuarios]
GO
ALTER TABLE [dbo].[VacunasXPaciente]  WITH CHECK ADD  CONSTRAINT [FK_VacunasXPaciente_Vacunas] FOREIGN KEY([IdVacuna])
REFERENCES [dbo].[Vacunas] ([Id])
GO
ALTER TABLE [dbo].[VacunasXPaciente] CHECK CONSTRAINT [FK_VacunasXPaciente_Vacunas]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEncuentro]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarEncuentro]
    @IdUsuario INT,
    @NombreMedico VARCHAR(50),
    @ApellidoMedico VARCHAR(50),
    @FechaInicio DATETIME,
    @FechaFin DATETIME = NULL,
    @EstadoMotivo VARCHAR(200),
    @NombreOrganizacion VARCHAR(100),
    @IdTipoOrganizacion INT,
    @Calle VARCHAR(100) = NULL,
    @Altura VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validaciones
        IF @IdUsuario IS NULL OR @IdUsuario <= 0
        BEGIN
            RAISERROR('El IdUsuario es requerido y debe ser mayor a 0', 16, 1);
            RETURN;
        END

        IF @NombreMedico IS NULL OR LEN(LTRIM(RTRIM(@NombreMedico))) = 0
        BEGIN
            RAISERROR('El nombre del médico es obligatorio', 16, 1);
            RETURN;
        END

        IF @ApellidoMedico IS NULL OR LEN(LTRIM(RTRIM(@ApellidoMedico))) = 0
        BEGIN
            RAISERROR('El apellido del médico es obligatorio', 16, 1);
            RETURN;
        END

        IF @EstadoMotivo IS NULL OR LEN(LTRIM(RTRIM(@EstadoMotivo))) = 0
        BEGIN
            RAISERROR('El estado/motivo es obligatorio', 16, 1);
            RETURN;
        END

        IF @NombreOrganizacion IS NULL OR LEN(LTRIM(RTRIM(@NombreOrganizacion))) = 0
        BEGIN
            RAISERROR('El nombre de la organización es obligatorio', 16, 1);
            RETURN;
        END

        IF @IdTipoOrganizacion IS NULL OR @IdTipoOrganizacion <= 0
        BEGIN
            RAISERROR('Debe seleccionar un tipo de organización válido', 16, 1);
            RETURN;
        END

        IF @FechaInicio IS NULL
        BEGIN
            RAISERROR('La fecha de inicio es obligatoria', 16, 1);
            RETURN;
        END

        DECLARE @IdOrganizacion INT;
        DECLARE @IdEncuentro INT;

        -- 1. Obtener o crear la organización usando el SP existente
        -- Usamos una tabla temporal para capturar el resultado
        CREATE TABLE #TempOrganizacion (IdOrganizacion INT);
        
        INSERT INTO #TempOrganizacion
        EXEC sp_ObtenerOCrearOrganizacion
            @Nombre = @NombreOrganizacion,
            @IdTipoOrganizacion = @IdTipoOrganizacion,
            @Calle = @Calle,
            @Altura = @Altura;

        SELECT @IdOrganizacion = IdOrganizacion FROM #TempOrganizacion;
        DROP TABLE #TempOrganizacion;

        -- 2. Insertar el encuentro
        INSERT INTO Encuentros 
        (
            IdUsuario, 
            IdOrganizacion, 
            NombreMedico, 
            ApellidoMedico, 
            FechaInicio, 
            FechaFin, 
            EstadoMotivo
        )
        VALUES 
        (
            @IdUsuario,
            @IdOrganizacion,
            LTRIM(RTRIM(@NombreMedico)),
            LTRIM(RTRIM(@ApellidoMedico)),
            @FechaInicio,
            @FechaFin,
            LTRIM(RTRIM(@EstadoMotivo))
        );
        
        SET @IdEncuentro = SCOPE_IDENTITY();

        -- 3. Retornar el Id del encuentro creado
        SELECT @IdEncuentro AS IdEncuentro;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT 
            @ErrMsg = ERROR_MESSAGE(),
            @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEnfermedadManual]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEnfermedadManual]
    @IdUsuario INT,
    @NombreEnfermedad VARCHAR(50),
    @Descripcion VARCHAR(200) = NULL,
    @Fecha DATE
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @IdPatologia INT;
        DECLARE @IdDiagnostico INT;

        -- 1. Buscar o crear la patología
        SELECT @IdPatologia = Id 
        FROM Patologias
        WHERE Nombre = @NombreEnfermedad;

        IF @IdPatologia IS NULL
        BEGIN
            INSERT INTO Patologias (Nombre, Descripcion)
            VALUES (@NombreEnfermedad, ISNULL(@Descripcion, ''));
            SET @IdPatologia = SCOPE_IDENTITY();
        END

        -- 2. Insertar el diagnóstico
        INSERT INTO Diagnosticos (IdUsuario, IdPatologia, Descripcion, FechaInicio, FechaFin, Estado, NombrePatologia)
        VALUES (@IdUsuario, @IdPatologia, ISNULL(@Descripcion, ''), @Fecha, @Fecha, 1, @NombreEnfermedad);
        
        SET @IdDiagnostico = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
        
        SELECT @IdDiagnostico AS IdDiagnostico;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT 
            @ErrMsg = ERROR_MESSAGE(),
            @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEstudioManual]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEstudioManual]
    @IdUsuario INT,
    @NombreEstudio VARCHAR(50),
    @IdModalidad INT,
    @Observacion VARCHAR(100) = NULL,
    @Fecha DATE,
    @Capacidad VARCHAR(50) = NULL,
    @FechaCreacionArchivo DATE = NULL,
    @NombreArchivo VARCHAR(50) = NULL,
    @TipoArchivo VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE 
            @IdOrganizacion INT,
            @IdEncuentro INT,
            @IdArchivo INT = NULL,
            @IdTipoDocumento INT,
            @IdEstudio INT;

        -- 1. Usamos una ORGANIZACIÓN genérica si existe
        SELECT @IdOrganizacion = Id 
        FROM Organizaciones 
        WHERE Nombre = 'Carga Manual';

        IF @IdOrganizacion IS NULL
        BEGIN
            -- Los tipos de organización ya están cargados en la BD
            -- Usar el primer tipo de organización disponible
            DECLARE @IdTipoOrg INT = (SELECT TOP 1 Id FROM Tipo_Organizacion ORDER BY Id);
            DECLARE @IdDir INT = (SELECT TOP 1 Id FROM Direcciones ORDER BY Id);
            
            -- Si no hay direcciones, crear una genérica
            IF @IdDir IS NULL
            BEGIN
                INSERT INTO Direcciones (Calle, Altura, CallesParalelas)
                VALUES ('Sin dirección', '0', '');
                SET @IdDir = SCOPE_IDENTITY();
            END
            
            INSERT INTO Organizaciones (Nombre, Id_Tipo_Organizacion, IdDireccion)
            VALUES ('Carga Manual', @IdTipoOrg, @IdDir); 
            SET @IdOrganizacion = SCOPE_IDENTITY();
        END

        -- 2. Crear ENCUENTRO manual para este estudio
        INSERT INTO Encuentros 
        (
            IdUsuario, IdOrganizacion, 
            NombreMedico, ApellidoMedico,
            FechaInicio, FechaFin,
            EstadoMotivo
        )
        VALUES 
        (
            @IdUsuario, @IdOrganizacion,
            'Carga', 'Manual',
            @Fecha, @Fecha,
            'Registro manual de estudio'
        );
        SET @IdEncuentro = SCOPE_IDENTITY();

        -- 3. Si hay archivo, insertarlo
        IF @NombreArchivo IS NOT NULL AND LEN(LTRIM(RTRIM(@NombreArchivo))) > 0
        BEGIN
            INSERT INTO Archivos (Capacidad, FechaCreacion)
            VALUES (ISNULL(@Capacidad, '0 KB'), ISNULL(@FechaCreacionArchivo, GETDATE()));
            SET @IdArchivo = SCOPE_IDENTITY();

            -- 4. Buscar o crear el tipo de documento 'Estudio'
            SELECT @IdTipoDocumento = Id
            FROM Tipo_Documento
            WHERE Tipo = 'Estudio';

            IF @IdTipoDocumento IS NULL
            BEGIN
                INSERT INTO Tipo_Documento (Tipo)
                VALUES ('Estudio');
                SET @IdTipoDocumento = SCOPE_IDENTITY();
            END

            -- 5. Insertar DOCUMENTO CLÍNICO vinculado al archivo
            INSERT INTO Documentos_Clinicos
            (
                IdEncuentro, Id_TipoDocumento, 
                Titulo, Fecha,
                IdArchivo, NombreArchivo, TipoArchivo
            )
            VALUES
            (
                @IdEncuentro, @IdTipoDocumento,
                @NombreEstudio, @Fecha,
                @IdArchivo, @NombreArchivo, @TipoArchivo
            );
        END

        -- 6. Verificar que la modalidad existe
        IF NOT EXISTS (SELECT 1 FROM Modalidad WHERE Id = @IdModalidad)
        BEGIN
            RAISERROR('La modalidad seleccionada no existe', 16, 1);
            RETURN;
        END

        -- 7. Insertar ESTUDIO DE IMAGEN vinculado
        -- Si IdArchivo es NULL, la columna debe permitir NULL
        IF @IdArchivo IS NULL
        BEGIN
            -- Si no hay archivo, insertar sin IdArchivo (asumiendo que la columna permite NULL)
            INSERT INTO Imagenes_Estudios
            (
                IdEncuentro, Id_Modalidad,
                Region, Fecha, Informe_Texto
            )
            VALUES
            (
                @IdEncuentro, 
                @IdModalidad,  -- Usar la modalidad recibida como parámetro
                @NombreEstudio, 
                @Fecha, 
                ISNULL(@Observacion, '')
            );
        END
        ELSE
        BEGIN
            -- Si hay archivo, insertar con IdArchivo
            INSERT INTO Imagenes_Estudios
            (
                IdEncuentro, Id_Modalidad,
                Region, Fecha, Informe_Texto, IdArchivo
            )
            VALUES
            (
                @IdEncuentro, 
                @IdModalidad,  -- Usar la modalidad recibida como parámetro
                @NombreEstudio, 
                @Fecha, 
                ISNULL(@Observacion, ''),
                @IdArchivo
            );
        END
        
        SET @IdEstudio = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        SELECT @IdEstudio AS IdEstudio;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertVacunacionManual]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertVacunacionManual]
    @IdUsuario INT,
    @Dosis VARCHAR(50),
    @NombreVacuna VARCHAR(50),
    @DatosInteres VARCHAR(200),
    @FechaAplicacion DATE,
    @NombreOrganizacion VARCHAR(50),
    @IdTipoOrganizacion INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @IdOrganizacion INT;
        DECLARE @IdVacuna INT;
        DECLARE @IdVacunaPaciente INT;
        DECLARE @IdDireccion INT;

        -------------------------------------------------------
        -- 1. Verificar si la organización existe
        -------------------------------------------------------
        SELECT @IdOrganizacion = Id
        FROM Organizaciones
        WHERE Nombre = @NombreOrganizacion;

        -------------------------------------------------------
        -- 2. Insertar organización si NO existe
        -------------------------------------------------------
        IF @IdOrganizacion IS NULL
        BEGIN
            -- Obtener o crear una dirección por defecto
            -- Si no hay direcciones, usar NULL o crear una genérica
            SELECT TOP 1 @IdDireccion = Id FROM Direcciones ORDER BY Id;
            
            IF @IdDireccion IS NULL
            BEGIN
                -- Crear una dirección genérica si no existe ninguna
                INSERT INTO Direcciones (Calle, Altura, CallesParalelas)
                VALUES ('Sin dirección', '0', '');
                SET @IdDireccion = SCOPE_IDENTITY();
            END

            -- Insertar la organización con el tipo proporcionado
            INSERT INTO Organizaciones (Nombre, Id_Tipo_Organizacion, IdDireccion)
            VALUES (@NombreOrganizacion, @IdTipoOrganizacion, @IdDireccion); 
            
            SET @IdOrganizacion = SCOPE_IDENTITY();
        END

        -------------------------------------------------------
        -- 3. Verificar si la vacuna ya existe
        -------------------------------------------------------
        SELECT @IdVacuna = Id
        FROM Vacunas
        WHERE NombreVacuna = @NombreVacuna;

        -------------------------------------------------------
        -- 4. Insertar vacuna si no existe
        -------------------------------------------------------
        IF @IdVacuna IS NULL
        BEGIN
            INSERT INTO Vacunas (NombreVacuna, Dosis, Aplicacion)
            VALUES (@NombreVacuna, @Dosis, @DatosInteres);

            SET @IdVacuna = SCOPE_IDENTITY();
        END

        -------------------------------------------------------
        -- 5. Insertar en VacunasXPaciente
        -------------------------------------------------------
        INSERT INTO VacunasXPaciente (IdUsuario, IdVacuna, FechaAplicacion)
        VALUES (@IdUsuario, @IdVacuna, @FechaAplicacion);

        SET @IdVacunaPaciente = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        SELECT @IdVacunaPaciente AS IdVacunaPaciente;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();

        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerOCrearOrganizacion]    Script Date: 05/12/2025 20:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerOCrearOrganizacion]
    @Nombre VARCHAR(100),
    @IdTipoOrganizacion INT,
    @Calle VARCHAR(100) = NULL,
    @Altura VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validar que el nombre no esté vacío
        IF @Nombre IS NULL OR LEN(LTRIM(RTRIM(@Nombre))) = 0
        BEGIN
            RAISERROR('El nombre de la organización es requerido', 16, 1);
            RETURN;
        END

        DECLARE @IdOrganizacion INT;
        DECLARE @IdDireccion INT;

        -- 1. Buscar si la organización ya existe
        SELECT @IdOrganizacion = Id
        FROM Organizaciones
        WHERE Nombre = LTRIM(RTRIM(@Nombre));

        -- Si existe, retornar su Id
        IF @IdOrganizacion IS NOT NULL
        BEGIN
            SELECT @IdOrganizacion AS IdOrganizacion;
            RETURN;
        END

        -- 2. Si no existe, crear la dirección
        IF (@Calle IS NOT NULL AND LEN(LTRIM(RTRIM(@Calle))) > 0) 
           OR (@Altura IS NOT NULL AND LEN(LTRIM(RTRIM(@Altura))) > 0)
        BEGIN
            -- Crear dirección con los valores proporcionados
            INSERT INTO Direcciones (Calle, Altura)
            VALUES (
                ISNULL(LTRIM(RTRIM(@Calle)), ''),
                ISNULL(LTRIM(RTRIM(@Altura)), '')
            );
            SET @IdDireccion = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- Crear dirección por defecto
            INSERT INTO Direcciones (Calle, Altura)
            VALUES ('Sin dirección', '0');
            SET @IdDireccion = SCOPE_IDENTITY();
        END

        -- 3. Crear la organización
        INSERT INTO Organizaciones (Nombre, Id_Tipo_Organizacion, IdDireccion)
        VALUES (LTRIM(RTRIM(@Nombre)), @IdTipoOrganizacion, @IdDireccion);
        SET @IdOrganizacion = SCOPE_IDENTITY();

        -- 4. Retornar el Id de la organización
        SELECT @IdOrganizacion AS IdOrganizacion;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT 
            @ErrMsg = ERROR_MESSAGE(),
            @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
USE [master]
GO
