@{
    ViewData["Title"] = "Cambiar-Contrase単a-VitaLink";
}

<main class="Cambio-Contrasena">
    <h2>Cambiar Contrase単a</h2>

    <form id="formCambio">
        <input type="password" id="contrasenaActual" placeholder="Contrase単a actual" required />
        <input type="password" id="contrasenaNueva" placeholder="Nueva contrase単a" required />
        <button type="button" onclick="cambiarContrasena()">Cambiar</button>
    </form>

    <p id="mensaje" style="margin-top:15px; color:red;"></p>
</main>

