@{
    ViewData["Title"] = "Inicio - VitaLink";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
</head>

<body>
    <main>
        <section class ="Banner-Principal">
            <img src="">
            <button>Empezar</button>
        </section>
        <section class="CTA-1">
            <div>
                <img src="">
                <h3>Registro Médico</h3>
                <p>Siempre disponible en tu celular</p>
            </div>
            <div>
                <img src="">
                <h3>Seguridad</h3>
                <p>Datos protegidos en la nube</p>
            </div>
            <div>
                <img src="">
                <h3>Conexión Medica</h3>
                <p>Intervensión Profesional</p>
            </div>
        </section>
        <section class="Argumento-1">
            <div class=Texto-Argumento-1>
                <h3>Tu salud, siempre conecta</h3>
                <p>Cuidar tu salud nunca fue tan simple, accesible y seguro.</p>
            </div>
            <div class= "Foto-Argumentos">
                <img src="">
            </div>
            <div class=Texto-Argumento-1>
                <p>Centraliza toda tu información médica en un solo lugar, para acceder a tus estudios, tratamientos y vacunas desde cualquier dispositivo, sin depender de una obra social o prepaga.</p>
            </div>
        </section>
        <section class="Argumento-2">
            <div class ="Foto-Argumentos">
                <img src="">
            </div>
            <div class="Texto-Argumento-2">
                <h3>Tu salud, en un solo lugar</h3>
            </div>
        </section>
        </section class="Beneficios">
            <div class="Beneficios-Item">
                <img src="">
                <h3>Historial Médico</h3>
                <p>Visualizá diagnósticos, tratamientos y vacunas.</p>
            </div>
            <div class="Beneficios-Item">
                <img src="">
                <h3>Recordatorios</h3>
                <p>No olvides tus turnos o medicaciones.</p>
            </div>
            <div class="Beneficios-Item">
                <img src="">
                <h3>Acceso Seguro</h3>
                <p>Tus datos están protegidos y disponibles cuando los necesites.</p>
            </div>
            
            <button>Ver más</button>
        <section>
        <section class="CTA-2">
            <div class="Texto-CTA-2">
                <h3>Cuidarte nunca fue tan fácil</h3>
            </div>
            <div class="Imagen-CTA2">
                <img src="">
            </div>
        </section>
        <section class="Sobre-Nosotros">
            <h3></h3>
        </section>
    </main>
</body>
</html>
