@{
    ViewData["Title"] = "Mis Medicamentos - VitaLink";
}

<body>
    <main>
        <section class="medicamentos-contenedor">
            <h1>Mis medicamentos</h1>
        </section>
        <section>
        @foreach(MedicacionesPaciente medicamento in ViewBag.ListaMedicamentos){
            <h2>@medicamento.Nombre_Comercial</h2>
            <h3>@medicamento.Frecuencia</h3>
        }
        <button id = "Indicaciones">Indicaciones</button>
        </section>

    </main>
</body>