@{
    ViewData["Title"] = "Mis Medicamentos - VitaLink";
}

<body>
    <main>
        <section class="medicamentos-contenedor">
            <h1>Mis medicamentos</h1>
        </section>
        <section>
        @foreach(Medicamento medicamento in ListaMedicamentos){
            <h2>@medicamento.Nombre</h2>
            <h3>@medicamento.Frecuencia</h3>
            foreach(string toma in medicamento.Horario){
                <p>@toma</p>
            }
        }
        <button id = "Indicaciones">Indicaciones</button>
        </section>

    </main>
</body>
