/* ---- ESTILOS GENERALES ---- */
*{
    font-family: nunito;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #004040, #00a0a0);
    color: white;
    text-align: center;
}

/* ---- BOTONES ---- */

.btn-secundario {
    background-color: transparent;
    color: #00bfbf;
    border: 0.3vh solid #00bfbf;
    border-radius: 30px;
    padding: 2% 5%;
    font-size: 1em;
}

.btn-principal:hover {
    background-color: #00a0a0;
}

.btn-secundario:hover {
    background-color: #00bfbf;
    color: white;
}

/* ---- BANNER PRINCIPAL ---- */

.Banner-Principal {
    background-image: url("/Img/LandingPage/Fondo1.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.Banner-Principal div{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin-right: 21%;
}
.Banner-Principal div img{
    width: 35%;
    height: auto;
}
.Banner-Principal div h1{
    font-size: 500%;
    font-weight: 600;
}
.Banner-Principal p{
    font-size: 300%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 23%;
    text-align: left;
}
.Banner-Principal a{
    background-color: rgb(10, 207, 164);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    border-radius: 30px;
    margin-right: 44%;
    padding: 1.5% 3% 1.5% 3%;
}
.Banner-Principal a:hover{
    box-shadow: none;
    background-color: rgb(12, 158, 126);
}
.Banner-Principal a p{
    color: white;
    font-size: 300%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

}

/* ---- PRIMERA SECCIÓN (CTA-1) ---- */

.CTA-1 {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 5% 3%;
    background-color: #3cc5a6;
}

.CTA-1 div {
    width: 25%;
    min-width: 100px;
}

.CTA-1 div img {
    width: 70%;
    margin-bottom: 5%;
}
.CTA-1 div h3{
    font-size: 190%;
    font-weight: bold;
}
.CTA-1 div p{
    font-size: 150%;
}

/* ---- ARGUMENTO 1 ---- */

.Argumento-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 6% 3%;
}
.Argumento-1 div{
    width: 100%;
    height: auto;
}

.Argumento-1 img {
    width: 100%;
    border-radius: 2%;
}
.Texto1-Argumento-1{
    background-color: url("/Img/LandingPage/Fondo2.png");
}
.Texto1-Argumento-1 h3{
    font-size: 500%;
    font-weight: 700;
}
.Texto1-Argumento-1 p{
    font-size: 300%;
}
.Texto2-Argumento-1{
    background-color: url("/Img/LandingPage/Fondo1.png");
}
.Texto2-Argumento-1 p{
    font-size: 400%;
}

/* ---- ARGUMENTO 2 ---- */

.Argumento-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 6% 3%;
}

.Argumento-2 img {
    width: 30%;
    border-radius: 2%;
}

.Texto-Argumento-2 {
    width: 30%;
}

/* ---- BENEFICIOS ---- */

.Beneficios {
    background-color: #006060;
    padding: 6% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Beneficios-Item {
    margin-bottom: 5%;
}

.Beneficios img {
    width: 10%;
    margin-bottom: 2%;
}

/* ---- CTA 2 ---- */

.CTA-2 {
    background: linear-gradient(180deg, #007f7f, #00bfbf);
    padding: 6% 3%;
}

.CTA-2 img {
    width: 30%;
    border-radius: 2%;
    margin-top: 3%;
}

/* ---- SOBRE NOSOTROS ---- */

.Sobre-Nosotros {
    padding: 6% 3%;
    background-color: rgba(0, 60, 60, 0.5);
}

.Valores-Contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 3%;
}

.Valores-Contenedor div {
    background-color: rgba(0, 150, 150, 0.2);
    border-radius: 2%;
    padding: 3%;
    width: 25%;
    min-width: 180px;
}

/* ---- EQUIPO ---- */

.Quienes-Somos {
    background-color: #004040;
    padding: 6% 3%;
}

.Equipo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 3%;
}

.Persona {
    background-color: rgba(0, 150, 150, 0.25);
    border-radius: 3%;
    padding: 3%;
    width: 20%;
    min-width: 160px;
}

.Persona img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 5%;
}

.Perfil-Container {
    background-color: #43A38D;
    border-radius: 15px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Perfil-Container section div button
{
    background-color: 23A98D;
    border-radius: 15px;
}

.navbar{
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    width: 60%;
    height: auto;
    margin-right: 2%;
}
.navbar div{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
}
.navbar div img{
    width: 45%;
    height: auto;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 120%;
}
.navbar ul li a:hover{
    color: #00bfbf;
    font-weight: bold;
}


/* ---- VERSIÓN CELULAR ---- */

@media (max-width:768px)
{

    .CTA-1 
    {
        flex-direction: column;
        align-items: center;
        gap: 5%;
    }

    .Argumento-1, .Argumento-2 {
        flex-direction: column;
        text-align: center;
    }

    .Texto-Argumento-1, .Texto-Argumento-2 {
        width: 90%;
    }

    .Beneficios-Item {
        width: 90%;
        margin: auto;
    }

    .Valores-Contenedor {
        flex-direction: column;
        align-items: center;
    }

    .Valores-Contenedor div {
        width: 80%;
    }

    .Persona {
        width: 70%;
    }

    .Banner-Principal {
        height: 60vh;
    }

    .CTA-2 img {
        width: 80%;
    }

    .Argumento-1 img, .Argumento-2 img {
        width: 80%;
    }
}
